.profileInfo__name {
  font-size: 27px;
  line-height: 32px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media screen and (min-width:1000px) {
  .profileInfo__name {
    font-size: 42px;
    line-height: 48px;
  }
}
